@font-face {
    font-family: 'Kumbh_Sans';
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Black.ttf');
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Light.ttf');
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Bold.ttf');
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

.detailsContainer {
    font-family: Kumbh_Sans !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.textContainer {
    margin-left: 10px;
    padding-left: 10px;
    border-left: black 3px solid;
}

