
.filterBar {
    display: flex;
    margin-bottom: 30px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border-radius: 12px;
    background-color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
}

.filterSearch {
    min-width: 300px;
    flex: 1;
    margin-bottom: 0;
}


.searchField {
    width: 100%;
    min-height: 50px;
    margin-bottom: 0;
    border-radius: 6px;
}

.searchField:hover {
    background-color: #f7f8fd;
    outline: none !important;
}

.searchField:focus {
    border-color: #f3f5fb;
    color: #160042;
    outline: none !important;
}

.searchField:active {
    border: 0;
    outline: none !important;
}

.searchField::-moz-placeholder {
    color: #b6b9ce;
    outline: none !important;
}

.searchField::-ms-input-placeholder {
    color: #b6b9ce;
    outline: none !important;
}

.searchField::placeholder {
    color: #b6b9ce;
    outline: none !important;
}

.selectComp {
    width: 100%;
    min-height: 48px;
    margin-bottom: 0;
    /* padding: 12px 16px 12px 52px; */
    border: 1px solid #f3f5fb;
    border-radius: 6px;
    transition: background-color 250ms;
}

.selectComp:hover {
    background-color: #f7f8fd;
    outline: none !important;
}

.selectComp:focus {
    border-color: #f3f5fb;
    color: #160042;
    outline: none !important;
}

.selectComp:active {
    border: 0;
    outline: none !important;
}

.selectComp::-moz-placeholder {
    color: #b6b9ce;
    outline: none !important;
}

.selectComp::-ms-input-placeholder {
    color: #b6b9ce;
    outline: none !important;
}

.selectComp::placeholder {
    color: #b6b9ce;
    outline: none !important;
}

.clearFilters {
    position: absolute;
    top: 40px;
    right: 3%;
    display: flex;
    align-items: center;
    grid-column-gap: 8px;
}

.clearButton {
    display: flex;
    padding: 12px 12px 12px 24px;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 8px;
    border: 1px solid #f3f5fb;
    border-radius: 32px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 0 rgba(33,42,103,.02);
    color: #b6b9ce;
    font-weight: 500;
    text-decoration: none;
    width: fit-content !important;
}