@font-face {
    font-family: 'Kumbh_Sans';
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Black.ttf');
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Light.ttf');
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Bold.ttf');
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

.imageGalleryThumbnails {
    font-family: Kumbh_Sans !important;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.deleteThumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 150px;
    height: 150px;
    margin: 10px 2px;
    border: black 1px solid;
    border-radius: 10px;
    overflow: hidden;
}