@font-face {
    font-family: 'Kumbh_Sans';
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Black.ttf');
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Light.ttf');
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Bold.ttf');
    src: url('../asset/Kumbh_Sans/static/KumbhSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

.navbar {
    font-family: Kumbh_Sans !important;
    height: 100px;
    position: relative;
    top: 0;
    z-index: 999;
    display: flex;
    padding-right: 3%;
    padding-left: 3%;
    align-items: center;
    border-bottom: 1px solid #f3f5fb;
    background-color: #fff;
    justify-content: space-between;
}